<h1 class="text-center">some of my work</h1>

<p class="text-center">
  Scroll away and browse
  <br>-- or --
  <br>find a particular technology (e.g. 'Ruby on Rails'): {{ input value=desiredTech }}
</p>

<div class="projects-container">
  {{#each filteredProjects}}
    <div class="project-wrap">
      <div class="project-image-wrap">
        <img {{bind-attr src=image }} >
      </div>
      <div class="project-details">
        <h2 class="text-center">{{name}}</h2>
        <div class="text-center">{{subtitle}}</div>
        <ul class="project-features">
          {{#each features}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
        <div class="project-resource-links">
          {{#if web}}
            <div class="button-link button-link-text text-center">
              <a {{bindAttr href=web }}>visit</a>
            </div>
          {{/if}}
          {{#if github}}
            <div class="button-link">
              {{github-svg projectUrl=github}}
            </div>
          {{/if}}
        </div>
        <div class="notes">{{note}}</div>
      </div>
    </div
  {{/each}}
</div>
