<h1 class="text-center">some of my work</h1>

<p class="text-center">
  Scroll away and browse
  <br>-- or --
  <br>find a particular technology (e.g. 'Ruby on Rails'): {{ input value=desiredTech }}
</p>

<div class="projects-container">
  {{#each filteredProjects}}
    <div class="project-wrap">
      <div class="project-image-wrap">
        <img {{bind-attr src=image }} >
      </div>
      <div class="project-details">
        <h2 class="text-center">{{name}}</h2>
        <div>{{subtitle}}</div>
        <p>{{description}}</p>
      </div>
      <small>{{technologies}}</small>
    </div
  {{/each}}
</div>
